In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import netCDF4
import scipy
from scipy import stats
def linr(a,b):
    slope, intercept, r_value, p_value, std_err = stats.linregress(a,b)
    return slope
def rms_calc(ser):
    return np.sqrt(np.mean(ser**2))

In [16]:
from numpy import random

x = random.randint(100,size=(100))

t = np.arange(0,100,1)



df = pd.DataFrame({'time':t , 'data': x})
df

    time  data
0      0    84
1      1    92
2      2    34
3      3    34
4      4    53
..   ...   ...
95    95    42
96    96    94
97    97    20
98    98    23
99    99    31

[100 rows x 2 columns]

In [25]:
a = df['data'].pow(2).rolling(9).var().apply(np.sqrt, raw=True)
a

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
         ...
95    2938.935909
96    3260.873886
97    3419.073924
98    3539.413691
99    3574.855059
Name: data, Length: 100, dtype: float64

In [26]:
c = df['data'].pow(2).rolling(9).apply(lambda x: np.sqrt(x.var()))
c

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
         ...
95    2938.935909
96    3260.873886
97    3419.073924
98    3539.413691
99    3574.855059
Name: data, Length: 100, dtype: float64

In [33]:
b = df['data'].pow(2).rolling(9).var()
b = np.sqrt(b)
b

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
         ...
95    2938.935909
96    3260.873886
97    3419.073924
98    3539.413691
99    3574.855059
Name: data, Length: 100, dtype: float64